<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|capfirst }}</title>
</head>
<body>
<div>
    <a href="{% url 'main:index' %}">main</a>
</div>
<h3>Диалог: {{ dialog }}</h3>
<div class="message-create">
    <a href="{% url 'main:dialog_message_create' sender.id %}"
       style="text-decoration: none;">
        сообщение
    </a>
</div>
<div class="dialog-messages">
    <ul>
        {% for item in dialog.get_messages %}
            <li>
                {{ item.sender.member.username }}
                ({{ item.created|date:"Y.m.d H:i" }}) - {{ item.text }}
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
