{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|capfirst }}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/dialog.js' %}"></script>
</head>
<body>
<div>
    <a href="{% url 'main:index' %}">main</a>
</div>
<h3>Диалог: {{ dialog }}</h3>
<div class="message-create">
    <a href="{% url 'main:dialog_message_create' sender.id %}"
       style="text-decoration: none;">
        сообщение
    </a>
</div>
<div class="dialog-messages">
    <a href="{% url 'main:dialog_new_messages' dialog.id %}"
       style="text-decoration: none;"
       class="dialog-update">
        обновить
    </a>
    <ul class="messages-list">
        {% for item in dialog.get_messages_all %}
            <li class="message-{{ item.pk }}">
                {{ item.sender.member.username }}
                ({{ item.created|date:"Y.m.d H:i" }}) - {{ item.text }}
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
