<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|capfirst }}</title>
</head>
<body>
{% if user.is_authenticated %}
<div>
    <span>{{ user.username }}</span>
    <a href="{% url 'auth:logout' %}">logout</a>
</div>
{% endif %}
<h3>Активные диалоги</h3>
<div class="dialog-create">
    <a href="{% url 'main:dialog_create' %}"
       style="text-decoration: none;">
        новый диалог
    </a>
</div>
<div class="dialogues-list">
    <ul>
        {% for item in dialogues %}
        <li>
            <span class="dialog-link">
                <a href="{% url 'main:dialog_show' item.dialog_id %}"
                   style="text-decoration: none;">
                    {{ item.dialog }}
                </a>
            </span>
            <span class="dialog-delete">
                <a href="{% url 'main:dialog_delete' item.dialog_id %}"
                   style="text-decoration: none;">
                    удалить
                </a>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
